.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
.about {
  position: relative;
  background: var(--primary-color);
  padding: clamp(48px, 7vw, 90px) 6vw;
}

.about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -0px; /* pulls fade upward into hero */
  height: 180px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
  pointer-events: none;
}

/* Force content above the fade */
.about-inner {
  z-index: 5;
  max-width: 960px;
  margin: 0 auto;
}

.about h2 {
  font-family: "Fondamento";
  font-size: clamp(2.2rem, 5vw, 4rem);
  color: rgb(245, 230, 200);
  text-align: center;
  line-height: 1.05;
  margin: 120px 0 18px 0;
  z-index: 5;
}

.about-rule {
  width: min(520px, 70%);
  height: 2px;
  margin: 0 auto 28px auto;
  background: #000;
  opacity: 0.9;
  z-index: 5;
}

.about p {
  font-family: "Fondamento";
  font-size: clamp(1.1rem, 1.6vw, 1.35rem);
  color: rgb(255, 245, 230);
  line-height: 1.7;

  /* THIS is the key: readable paragraphs */
  text-align: left;
  max-width: 64ch;
  margin: 0 auto 16px auto;
  z-index: 5;
}

@media only screen and (max-width: 1920px) {
}
@media only screen and (max-width: 1366px) {
  .inbetween {
    background-position: center 3.5em;
  }
}
@media only screen and (max-width: 1024px) {
  .inbetween {
    min-height: 500px;
  }
}
@media only screen and (max-width: 960px) {
  .inbetween {
    background-position: center 3em;
  }
}
@media only screen and (max-width: 864px) {
  .spacer1 {
    height: 600px;
  }

  .spacer2 {
    height: 200px;
  }
}
@media (max-width: 768px) {
  .inbetween {
    background-attachment: scroll;
  }
}
@media only screen and (max-width: 667px) {
  .spacer1 {
    height: 600px;
  }

  .spacer2 {
    height: 200px;
  }
}
@media only screen and (max-width: 420px) {
  .inbetween {
    min-height: 300px;

    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 40em;
  }
}
